# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
terraform.tfvars
override.tf
override.tf.json
*.tfplan
.terraform.lock.hcl

# Local environment
.env
*.bak
*.swp
.DS_Store

# Python (Glue scripts)
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.env/
venv/
.envrc

# Jenkins
*.log
pipeline.log
*.tmp

# VSCode
.vscode/

# Mac and system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore uploaded Glue scripts if generated lo
